[user]
    name = Christian Heinrich
    email = christian.heinrich@livando.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[log]
  follow = true

[alias]
  # Shortcuts for often used commands.
  # Thanks to Simon Ruderich, http://ruderich.org/simon/config/gitconfig
  c  = commit -v
  ci = commit -v
  d  = diff --patience
  di = diff --patience
  dc = diff --patience --cached
  s  = status
  st = status
  l  = log
  ls = log --stat
  lp = log -p --patience
  glog = log --pretty=oneline --graph --all
  a  = add
  ap = add -p
  au = add -u
  co = checkout
  b  = branch -av
  br = branch -av
  m  = merge
  me = merge
  f  = fetch
  fe = fetch
  t  = tag
  p  = push
  pu = push
  ru = remote update
  fs = fsck --strict --full
  ss = stash save
  ssk = stash save --keep-index
  sa = stash apply
  sl = stash list
  fp = format-patch
  lg = log -p

  # These are from http://www.reddit.com/r/git/comments/1xlvyt/does_anyone_out_there_just_use_git_itself_in_the/cfcqh0a,
  # la = list all
  # lb = list branch
  # s  = short
  # ss = super short
  la=log --oneline --graph --all --decorate
  las=log --oneline --graph --all --decorate -20
  lass=log --oneline --graph --all --decorate -8
  lb=log --oneline --graph --decorate
  lbs=log --oneline --graph --decorate -20
  lbss=log --oneline --graph --decorate -8

[merge]
    tool = vimdiff

# vim: ft=gitconfig
[pager]
	stash = false
[commit]
	gpgsign = true
