*.o
*.gpg
*.gpg~
*.key
gpg/.gnupg/random_seed
gpg/.gnupg/cr*
gpg/*/.*
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/*.errors
xmonad/.xmonad/*.hi
xmonad/.xmonad/history
newsbeuter/.newsbeuter/urls
newsbeuter/.newsbeuter/*.*
zsh/.zshrc.local
