[user]
    name = Christian Heinrich
    email = christian.heinrich@livando.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
  # Shortcuts for often used commands.
  # Thanks to Simon Ruderich, http://ruderich.org/simon/config/gitconfig
  c  = commit -v
  ci = commit -v
  d  = diff --patience
  di = diff --patience
  dc = diff --patience --cached
  s  = status
  st = status
  l  = log
  ls = log --stat
  lp = log -p --patience
  glog = log --pretty=oneline --graph --all
  a  = add
  ap = add -p
  au = add -u
  co = checkout
  b  = branch -av
  br = branch -av
  m  = merge
  me = merge
  f  = fetch
  fe = fetch
  t  = tag
  p  = push
  pu = push
  ru = remote update
  fs = fsck --strict --full
  ss = stash save
  ssk = stash save --keep-index
  sa = stash apply
  sl = stash list
  fp = format-patch
  lg = log -p
[merge]
    tool = vimdiff

# vim: ft=gitconfig
