!Xft.dpi: 244
Xft.dpi: 109
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*iconFile:            /usr/share/icons/gnome/32x32/apps/gnome-terminal.png
URxvt.geometry: 170x60+25+50
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.foreground: white
URxvt.background: black
URxvt.secondaryScroll: true
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
!URxvt.font: xft:Bitstream Vera Sans Mono:pixelsize=24
!URxvt.font: xft:Source Code Pro for Powerline:pixelsize=15
URxvt.font: xft:Meslo LG M DZ for Powerline:pixelsize=18


!fade text n% upon unfocus
URxvt*fading:             20
!!darken=(0 to 100) lighten=(-1 to -100)
URxvt*shading:            30
!!set to 32-bit for real transparency (compositing required)
URxvt*depth:     32
URxvt*background: rgba:0000/0000/0000/dddd

!jump to bottom (prompt) on keypress
URxvt*scrollTtyKeypress:  true
!!jump to bottom (prompt) when tty gets new lines
URxvt*scrollWithBuffer:   false
!!jump to bottom (prompt) on tty output
URxvt*scrollTtyOutput:    false

! black
!*color0:  #2E3436
!*color8:  #555753
! red
URxvt*color1:  #a40000
URxvt*color9:  #EF2929
! green
URxvt*color2:  #4E9A06
URxvt*color10: #8AE234
! yellow
URxvt*color3:  #C4A000
URxvt*color11: #FCE94F
! blue
!*color4:  #3465A4
!*color12: #729FCF
URxvt*color4: #003EFF
URxvt*color12: RoyalBlue
! purple
URxvt*color5:  #75507B
URxvt*color13: #AD7FA8
! orange (replaces cyan)
URxvt*color6:  #ce5c00
URxvt*color14: #fcaf3e
! white
URxvt*color7:  #babdb9
URxvt*color15: #EEEEEC
